<app-header></app-header>

<div class="wrapper">
    <div>
        <app-card 
            [title]="titleCanadian" 
            [value]="valueCanadian" 
            [variation]="variationCanadian" 
            [update]="dateCanadian">
        </app-card>
    </div>

    <div>
        <app-card 
            [title]="titleArgentine"
            [value]="valueArgentine"
            [variation]="variationArgentine" 
            [update]="dateArgentine">
        </app-card>
    </div>
    
    <div >
        <app-card 
            [title]="titlePound"
            [value]="valuePound"
            [variation]="variationPound" 
            [update]="datePound">
        </app-card>
    </div>
</div>

