<app-header></app-header>


<app-card>
    <div class="card__card-header">
        <p class="card__card-title"> {{titleCanadian}}</p>
    </div>

    <div class="card__card-body">
        <p> {{valueCanadian}} </p>
    </div>
</app-card>

<!-- <app-card>
    <div class="card__card-header">
        <p class="card__card-title"> {{titleCanadian}}</p>
    </div>
</app-card>

<app-card>
    <div class="card__card-header">
        <p class="card__card-title"> {{titleCanadian}}</p>
    </div>
</app-card> -->

